@{
    ViewData["Title"] = "Home";
}

<h2>Assistant Profiles</h2>

<a href="/Home/CreateProfile" class="btn btn-primary">
    Create New Assistant
</a>

<br />
<br />

<div style="margin-bottom:120px;">

    @if (ViewBag.Profiles != null)
    {
        foreach (var profile in ViewBag.Profiles)
        {
            <div style="border:1px solid gray;padding:10px;margin-bottom:15px">

                <b>@profile.Name</b>

                <br />

                Prompt: @profile.SystemPrompt

                <br />

                Temperature: @profile.Temperature

                <br />

                Plugins: @string.Join(", ", profile.EnabledPlugins)

                <br /><br />

                <a href="/Home/CloneProfile?name=@profile.Name">
                    Clone (Prototype)
                </a>

                &nbsp;&nbsp;

                <a href="/Home/EditProfile?name=@profile.Name">
                    Modify
                </a>

            </div>
        }
    }

</div>